/* bootstrap */
.flex-1 {
  flex: 1;
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 578px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* highlight effect */
.highlight-custom {
  font-weight: bold;
  display: inline;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 -8px 0 rgba(0, 128, 245, 0.2);
}

/* swiper */
  /* swiper-general */
  .swiper {
    width: 100%;
    height: 500px;
  }

  .swiper .swiper-wrapper {
    width: 100%;
    height: 75%;
    padding-top: 30px;
  }

  .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 40px;
  }

  .swiper .swiper-slide .content {
    font-size: auto;
  }

  @media screen and (max-width: 768px) {
    .swiper .swiper-slide .content {
      font-size: 14px;
    }
  }

  .swiper-pagination-bullet {
    margin-right: 15px !important;
    width: 10px !important;
    height: 10px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #1C3EFE !important;
  }

  .swiper-buttom-custom {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 45%);
    /* width: calc(var(--swiper-navigation-size) / 44 * 27); */
    /* height: var(--swiper-navigation-size); */
    width: 50px;
    height: 50px;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-custom-prev {
    left: var(--swiper-navigation-sides-offset, -100px);
  }

  .swiper-button-custom-next {
    right: var(--swiper-navigation-sides-offset, -100px);
  }

  /* review-pc-slide */
  .review-slide.review-pc-slide .swiper-slide .review-card {
    width: 98%;
    height: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 40px 20px;
    background-color: white;
  }

  .review-pc-slide .review-card {
    height: 100%;
    overflow: auto;
  }

  /* review-mobile-slide */
  .review-slide.review-mobile-slide .swiper-slide {
    width: 70%;
    border-radius: 40px;
    padding: 40px 20px;
    background-color: white;
  }

  .review-mobile-slide .review-card {
    height: 100%;
    overflow: auto;
  }

  /* list-slide */
  .list-slide .swiper-slide {
    background-color: #EBEBEB;
  }

  /* if img in swiper */
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* general */
.drop-shadow {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.iframe-container {
  position: relative;
  padding-top: 56%;
  width: 100%;
  height: 0;
}

.iframe-container > iframe {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .iframe-container > iframe {
    width: 100%;
    height: 100%;
  }
}

.main-header {
  box-sizing: border-box;
  height: 60px;
  z-index: 999;
}

.bg-white-gradient {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 38.54%, rgba(255, 255, 255, 0) 100%);
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
}

.step {
  border-radius: 45px;
}

#sub-header {
  box-sizing: border-box;
  height: 40px;
  z-index: 998;
}

@media screen and (min-width: 1024px) {
  #sub-header {
    height: 60px !important;
  }
}

#sub-header .sec {
  flex: 1;
  border-radius: 20px 20px 0 0;
  background-color: #EBEBEB;
  font-weight: normal;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sub-header .sec.sec-active {
  color: #1C3EFE;
  font-weight: bolder;
  background: white !important;
}

.top-60 {
  top: 60px !important;
}

.step-slide.step-active {
  color: #1C3EFE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-slide {
  display: none;
}

.kakaotalk {
  position: fixed;
  right: 10px;
  display: none;
}

.kakaotalk img {
  width: 54px;
}

@media  screen and (max-width: 768px) {
  .side-sticky {
    display: none;
  }

  .kakaotalk {
    width: 70px;
    height: 70px;
    display: block;
    bottom: 40px;
  }
}