html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;;
}

.sec a {
  width: 100%;
  color: black;
}

:target::before {
  content: "";
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

@media screen and (max-width: 992px) {
  :target::before {
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
  }
}

/* bootstrap */
.flex-1 {
  flex: 1;
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 578px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* highlight effect */
.highlight-custom {
  font-weight: bold;
  display: inline;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 -8px 0 rgba(0, 128, 245, 0.2);
}

/* swiper */
  /* swiper-general */
  .swiper {
    width: 100%;
    height: 500px;
  }

  .swiper .swiper-wrapper {
    width: 100%;
    height: 75%;
    padding-top: 30px;
  }

  .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 40px;
  }

  .swiper .swiper-slide .content {
    font-size: auto;
  }

  @media screen and (max-width: 768px) {
    .swiper .swiper-slide .content {
      font-size: 14px;
    }
  }

  .swiper-pagination-bullet {
    margin-right: 15px !important;
    width: 10px !important;
    height: 10px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #1C3EFE !important;
  }

  .swiper-button-custom {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 45%);
    /* width: calc(var(--swiper-navigation-size) / 44 * 27); */
    /* height: var(--swiper-navigation-size); */
    width: 50px;
    height: 50px !important;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-custom-prev {
    left: var(--swiper-navigation-sides-offset, -100px);
  }

  .swiper-button-custom-next {
    right: var(--swiper-navigation-sides-offset, -100px);
  }

  /* review-pc-slide */
  .review-slide.review-pc-slide .swiper-slide .review-card {
    width: 98%;
    height: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 20px;
    background-color: white;
  }

  .review-pc-slide .review-card {
    height: 100%;
    overflow: auto;
  }

  /* review-mobile-slide */
  .review-slide.review-mobile-slide .swiper-slide {
    width: 70%;
    border-radius: 24px;
    padding: 40px 20px;
    background-color: white;
  }

  .review-mobile-slide .review-card {
    height: 100%;
    overflow: auto;
  }

  /* list-slide */
  .swiper.list-slide {
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
  }

  .list-slide .swiper-slide {
    position: relative;
    width: 100%;
    height: fit-content;
    display: block;
    color: white;
    border-radius: 24px;
    overflow: hidden;
    background-size: cover;
  }

  .list-slide .swiper-slide .padding-container {
    position: relative;
    width: 100%;
    padding-top: 133%;
    height: 0;
  }

  .list-slide .swiper-slide .text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px 25px;
    width: 100%;
    height: 100%;
  }

  .list-slide .swiper-slide.supaja_dna {
    background-image: url('../media/img/sec3_2_slide_1.png');
  }
  .list-slide .swiper-slide.supaja_bazaar {
    background-image: url('../media/img/sec3_2_slide_2.png');
  }
  .list-slide .swiper-slide.supaja_challenge {
    background-image: url('../media/img/sec3_2_slide_3.png');
  }
  .list-slide .swiper-slide.supaja_csr {
    background-image: url('../media/img/sec3_2_slide_4.png');
  }

  /* if img in swiper */
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* general */
.intro {
  height: 80vh;
  background-image: url('../media/img/intro_pc.jpg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .intro {
    height: 72vh;
    background-image: url('../media/img/intro_mobile.png');
    background-size: cover;
  }
}

.drop-shadow {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.iframe-container {
  position: relative;
  padding-top: 56%;
  width: 100%;
  height: 0;
}

.iframe-container > iframe {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .iframe-container > iframe {
    width: 100%;
    height: 100%;
  }
}

.main-header {
  box-sizing: border-box;
  height: 60px;
  z-index: 999;
}

.bg-white-alpha {
  background-color: rgba(255, 255, 255, 0.4);
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
}

.step {
  border-radius: 45px;
}

#sub-header {
  box-sizing: border-box;
  height: 40px;
  z-index: 998;
}

@media screen and (min-width: 992px) {
  #sub-header {
    height: 60px !important;
  }
}

#sub-header .sec {
  flex: 1;
  border-radius: 20px 20px 0 0;
  background-color: #EBEBEB;
  font-weight: normal;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #sub-header .sec.sec-active {
  color: #1C3EFE;
  font-weight: bolder;
  background: white !important;
} */

.top-60 {
  top: 60px !important;
}

.step-slide {
  display: none;
}

.step-slide img {
  width: 90%;
}

.icon img {
  width: 80px;
}

@media screen and (max-width: 992px) {
  .step-slide img {
    width: 100%;
  }

  .icon img {
    width: 40px;
  }
}

.step-slide.step-active {
  display: block;
}

.book-btn {
  width: 230px; 
  height: 80px;
  background-image: url('../media/img/book_btn.png');
  background-size: cover;
}

.book-btn .bcorp-link {
  padding-top: 20px;
}

.kakaotalk {
  position: fixed;
  right: 10px;
  display: none;
}

.kakaotalk img {
  width: 54px;
}

@media  screen and (max-width: 768px) {
  .side-sticky {
    display: none;
  }

  .kakaotalk {
    width: 70px;
    height: 70px;
    display: block;
    bottom: 40px;
  }
}